.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    border: none;
    border-radius: 5px;
}

.Bar {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.one {
    transition: all 0.2s ease;
}

.one:hover {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.active {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.header {
    padding-left: 10px;
    color: blue;
}

